// Default Font
$font-stack:    sans-serif;

// Color Scheme

// Assets
$blackTexture:  url("../assets/blacktexture.png");



// CSS Reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, address, big, cite, code,
em, img, ins, kbd, q, s, samp,
small, strong, sub, sup,
b, u, i, ol, ul, li,
fieldset, form, label, legend,
article, aside, footer, header, 
menu, nav, section, audio, video, button, input {
	margin: 0;
	padding: 0;
	border: none;
    outline: none;
	font-family: $font-stack;
}

// Helper Classes
.clearfix {
    overflow: auto;
}

.margin_center {
    width: 960px;
    margin: 0 auto;
}



// Header & Footer
header {
    height: 50px;
    background: black $blackTexture repeat;
    color: white;
    line-height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0px 1px 1px #000000;
    
    h1 {
        float: left;
    }
    
    a {
        color: inherit;
        text-decoration: none;
    }

    ul {
        float: right;    
        list-style-type: none;
    }

    li {
        float: left;
    
        a {
            display: block;
            width: 100px;
            text-align: center;
            font-size: 14px;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

.landing_section {
    padding-top: 100px;
    height: 400px;
    
    hr {
        margin-bottom: 30px;
    }
    
    .left_column {
        float: left;
        width: 55%;
        
        h3 {
            margin-bottom: 30px;
        }
    
        ul {
            padding-left: 20px;
        }

        li {
            margin-bottom: 20px;
        }
    }
    
    form {
        float: right;
        background-color: #002836;
        width: 30%;
        padding: 10px 20px;
        border-radius: 10px;
        
        legend {
            font-weight: bold;
            font-size: 125%;
            margin-bottom: 30px;
            text-align: center;
            color: white;
        }
    
        input {
            display: block;
            width: 97%;
            margin: 20px 0px;
            height: 30px;
            font-size: 14px;
            padding-left: 3%;
            border-radius: 5px;
        }

        button {
            float: right;
            text-align: center;
            height: 25px;
            width: 80px;
            line-height: 25px;
            background: white;
            font-size: 14px;
            color: #002836;
            border-radius: 5px;
        }
    }
}













































