$font-stack:    Helvetica, sans-serif;

$lightBlue:     #64AA90;
$navyBlue:      #0A3142;
$darkBlue:      #001F30;
$limeGreen:     #B3D61A;
$mustardYellow: #E1E181;


// CSS Reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, address, big, cite, code,
em, img, ins, kbd, q, s, samp,
small, strong, sub, sup,
b, u, i, ol, ul, li,
fieldset, form, label, legend,
article, aside, footer, header, 
menu, nav, section, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: $font-stack;
}
