// Default Font
$font-stack:    "sans-serif";

// Color Scheme
$lightBlue:     #64AA90;
$navyBlue:      #0A3142;
$darkBlue:      #001F30;
$limeGreen:     #B3D61A;
$mustardYellow: #E1E181;
$gray:          #4d4d4d;

// Assets
$blackTexture:  url("../assets/blacktexture.png");



// CSS Reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, address, big, cite, code,
em, img, ins, kbd, q, s, samp,
small, strong, sub, sup,
b, u, i, ol, ul, li,
fieldset, form, label, legend,
article, aside, footer, header, 
menu, nav, section, audio, video, button, input {
	margin: 0;
	padding: 0;
	border: none;
    outline: none;
	font-family: $font-stack;
}

// Helper Classes
.clearfix {
    overflow: auto;
}



// Body
body {
    background: $gray $blackTexture repeat;
}

// Header
header {
    height: 60px;
    background-color: $navyBlue;
    color: white;
    line-height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    
    h1 {
        float: left;
        margin-left: 20px;
    }
    
    a {
        color: inherit;
        text-decoration: none;
        
    }

    ul {
        float: right;    
        list-style-type: none;
    }

    li {
        float: left;
    
        a {
            color: $navyBlue;
            display: block;
            width: 150px;
            text-align: center;
            background-color: $limeGreen;
        }

        a:hover {
            background-color: white;
            font-weight: bold;
        }
    }
}

// Main Container
.main_container {
    margin: 100px 20px;
    color: white;
}

// Footer
footer {
    height: 40px;
    line-height: 40px;
    color: white;
    background-color: $navyBlue;
    position: fixed;
    bottom: 0;
    width: 100%;
    
    p {
        margin-left: 20px;
    }
}



// Log In & Sign Up Forms
form {
    background-color: $darkBlue;
    width: 280px;
    padding: 20px;
    border-radius: 15px;
    
    legend {
        font-size: 125%;
        font-weight: bold;
        margin-bottom: 15px;
    }
    
    label, input {
        display: block;
    }

    input {
        width: 100%;
        margin: 10px 0;
        height: 25px;
        line-height: 25px;
        border-radius: 5px;
        padding-left: 5px;
    }
}

.toa_and_privacy {
    margin: 15px 0;
    
    a {
        font-weight: bold;
        color: white;
    }
}

.authentication_cta {
    margin-top: 20px;
    
    a {
        color: white;
    }

    a:hover {
        font-weight: bold;
    }

    
}

button {
    float: right;
    background-color: white;
    color: $navyBlue;
    border-radius: 5px;
    text-align: center;
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
}



// Artist Search Bar
.search_bar {
    padding: 20px;
    width: 320px;
    
    input {
        display: inline;
        width: 220px;
        height: 25px;
        line-height: 25px;
        border-radius: 5px;
        padding-left: 5px;
    }

    button {
        height: 25px;
        line-height: 25px;
    }
}

















































