<section class="explore_section" ng-controller="ExploreCtrl">
    
    <div class="margin_center">
        <form>
            <input type="text" name="search" placeholder="Explore any artist..." ng-model="form.query" required />
            <button ng-click="search(form.query)">Search</button>
        </form>
        
        <ul class="content_list">
            <li ng-repeat="this in contents">
                 <div ng-bind-html="render(this.embed)"></div>
            </li>
        </ul>
    </div>
    
</section>