<section ng-controller="UserPageCtrl" class="user_section">
    
    <div class="margin_center">
        <h2>Page of {{user.username}}</h2>
        
        <button ng-show="!displayForm" ng-click="displayForm = true">Add New...</button>
        <button ng-show="displayForm" ng-click="displayForm = false">Hide Forms</button>
        <form ng-show="displayForm" class="clearfix video_uploader">
            <h3>Add a video...</h3>
            
            <div class="radio_buttons">
                <label>Vimeo</label><input type="radio" name="type" ng-model="video.type" value="vimeo" />
                <label>YouTube</label><input type="radio" name="type" ng-model="video.type" value="youtube" />
            </div>
            
            <fieldset ng-show="video.type === 'vimeo'" class="clearfix">
                <legend>To add video just press the share link and complete the entire link.</legend>
                <label>http://vimeo.com/</label><input type="text" ng-model="video.link" />
                
                <button ng-click="addVideo(video)">Add Vimeo Video</button>
            </fieldset>
            
            <fieldset ng-show="video.type === 'youtube'" class="clearfix">
                <legend>To add video just press the share link and complete the entire link.</legend>
                <label>http://youtu.be/</label><input type="text" ng-model="video.link" />
                
                <button ng-click="addVideo(video)">Add YouTube Video</button>
            </fieldset>
        </form>
        
<!--
        <form ng-show="displayForm" class="clearfix">
            
            <div class="clearfix">
                <h3>Add a track...</h3>
                <button class="special_button" ng-show="!isRecording" ng-click="record()">Record</button>
                <button class="special_button" ng-show="isRecording" ng-click="stop()">Stop</button>
            </div>
            
            <input class="track_name" type="text" ng-model="track.title" placeholder="Track Name" />
            
            <ul class="audio_player" ng-show="hasRecorded" class="clearfix">
                <li class="timer">Time: {{time}}</li>
                <li ng-click="play()"><button>Play</button></li>
                <li ng-click="addTrack(track)"><button>Upload</button></li>
            </ul>
        </form>
-->
        
        <ul class="content_list">
            <li ng-repeat="this in contents">
                 <div ng-bind-html="render(this.embed)"></div>
            </li>
        </ul>
        
    </div>
    
</section>