<form name="logInForm" ng-controller="LogInCtrl" class="clearfix">
	<fieldset>
		<legend>Login to Avalon&#58;</legend>
		<label for="username">Username</label><input type="text" name="username" id="username" placeholder="username or email" ng-model="user.username" autofocus required />
		<label for="password">Password</label><input type="password" name="password" id="password" required ng-model="user.password" />
	</fieldset>
	
	<div class="authentication_cta">
		<a href="index.html" title="Return to Home Page">cancel</a>
		<button type="submit" ng-click="submit(user)">Log In</button>
	</div>
</form>