<h2>Sign up to Avalon&#58;</h2>

<form name="signUpForm" ng-controller="SignUpCtrl">
	<fieldset>
		<legend>Personal Info</legend>
		<label for="firstName">First Name</label><input type="text" name="firstName" id="firstName" placeholder="John" ng-model="user.firstName" autofocus required />
		<label for="lastName">Last Name</label><input type="text" name="lastName" id="lastName" placeholder="Doe" ng-model="user.lastName" required />
		<label for="email">Email</label><input type="email" name="email" id="email" placeholder="johndoe@service.com" ng-model="user.email" required />
		<label for="username">Username</label><input type="text" name="username" id="username" placeholder="johndoe365" ng-model="user.username" ng-minLength="4" required />
		<label for="password">Password</label><input type="password" name="password" id="password" ng-model="user.password" ng-minLength="8" ng-pattern="/^.*(?=.*\d)(?=.*[a-zA-Z]).*$/" required />
		<label for="confirmPassword">Confirm Password</label><input type="password" name="confirmPassword" id="confirmPassword" ng-model="user.confirmPassword" required />
	</fieldset>
	
	<p>By clicking the submit button you agree to our <a href="#">Terms of Service</a> &amp; <a href="#">Privacy Policies</a>.</p>
	<div>
		<a href="index.html" title="Return to Home Page">cancel</a>
		<button type="submit" ng-click="submit(user)">Submit</button>
	</div>
</form>